<form>
    <div class="form-group">
        <label>{{ localize "mc3e.Formula" }}</label>
        <input type="text" name="formula" value="{{formula}}" disabled/>
    </div>
    {{#if chooseModifier}}
    <div class="form-group">
        <label>{{ localize "mc3e.AbilityModifier" }}</label>
        <select name="ability">
            {{selectOptions abilities selected=defaultAbility}}
        </select>
    </div>
    {{/if}}
    <div class="form-group">
        <label>{{ localize "mc3e.RollSituationalBonus" }}</label>
        <input type="text" name="bonus" value="" placeholder="{{ localize 'mc3e.RollExample' }}"/>
    </div>
    <div class="form-group">
        <label>{{ localize "mc3e.RollMode" }}</label>
        <select name="rollMode">
            {{selectOptions rollModes selected=defaultRollMode localize=true}}
        </select>
    </div>
</form>
