<form autocomplete="off" onsubmit="event.preventDefault();">
    {{> "mc3e.trait-list" prefix="choices"}}

    {{#if customPath}}
        <div class="form-group stacked">
            <label>{{localize "mc3e.TraitSelectorSpecial"}}</label>
            <input type="text" name="{{customPath}}" value="{{custom}}">
        </div>
    {{/if}}

    {{#if bypassesPath}}
        <h3>{{localize "mc3e.DamagePhysicalBypass"}}</h3>
        <p class="note">{{localize "mc3e.DamagePhysicalBypassHint"}}</p>
        {{> "mc3e.trait-list" choices=bypasses prefix="bypasses"}}
    {{/if}}

    <button type="submit"><i class="far fa-save"></i> {{localize "mc3e.TraitSave"}}</button>
</form>
